body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddcd1f;
    color: #333;
  }
  
  header {
    background-color: #f96302;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #f96302;
    font-size: 24px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  h3 {
    margin: 10px 0;
    color: #f96302;
    font-size: 20px;
  }
  
  address {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #f96302;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  